/*general stuff*/
body {
    overflow: scroll;
    padding: 0;
    color: #443235;
    background-color:#efefef;
    font-family: futura, Arial, sans-serif;
    cursor: url(cursor1.gif) 17 17, move;
    font-size: 2vh;
    line-height: 3vh;
}   

a{
    color: #535565;
    text-decoration: none;
    cursor: url(cursor2.gif) 17 17, move;
}

a:hover {
    color: #d4451a;
    text-decoration: none;
    transition:1s;
}

h1 {
    font-size:4vh;
    color: #ddbec6;
    text-align:center;
    font-weight: bold;
}
h2 {
    font-size: 3.5vh;
    color: #404555;
    text-align:center;
    font-weight: bold
}
h3 {
    font-size: 2vw;
    color: #ffffff;
    text-align:center;
    margin-top:-1vh;
    font-weight: bold;
}
h4 {
    font-size: 2.5vh;
    color: #000000;
    margin-bottom: -4vh;
    text-align:center;
    margin-top:-1vh;
    font-weight: bold;
}

#bullets {
    color: #000000;
}

/*header and footer stuff*/
.nav li{
    display: inline-block;
    font-weight: bold;
}
.nav ul a:hover{
    background-color: #232a3c;
}

.header {
    width:100%;
    padding-left:5vw;
    padding-right: 5vw;
    padding-top: .5vh;
    /*position:fixed;*/
    background-color:#232a3c;
    /*border:1px solid #9fa1ae;*/
    border-bottom: 1vh double #FFFFFF;
}

.footer {
    /*position:fixed;*/
    width:100%;
    height:8vh
    padding: 2%;
    line-height:6vh;
    bottom:0;
    background-color:#9fa1ae;
    border-top: .5vh solid #443235;
    text-align: center;
    font-size: 1.5vh;
}

/*related to index and bio pages*/
.first {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.second {
    display:block;
    height: 100%;
    width: 100%;
    padding-left:25%;
    padding-right:25%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #9d827b;
    justify-content:center;
    text-align: justify;
    margin-top:5vh;
    overflow:scroll;
}

.third {
    display:block;
    height: 100%;
    width: 100%;
    padding-left:25%;
    padding-right:25%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #d4c6ca;
    justify-content:center;
    text-align: justify;
    overflow:scroll;
}
.fourth {
    display:block;
    height: 100%;
    width: 100%;
    padding-left:25%;
    padding-right:25%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #efefef;
    justify-content:center;
    text-align: justify;
    overflow:scroll;
}

/*related to the images page*/
.Container2 {
    display: flex;
    height: 100%;
    /*justify-content: center;*/
    width: 100%;
}

.Left {
    height: 90vh;
    border-right: 2px solid black;
}

.Right_pics {
    overflow: scroll;
    width: 35vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 1vh;
    margin-left:5vw;
    margin-top: 20vh;
    text-align: justify;
    line-height: 120%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.thumbnail {
    width:8vw;
    overflow:scroll;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

/*misc image attributes*/

#master_img {
     width:25%;
     display:block;
     margin-top: 10vh;
     margin-left: auto;
     margin-right: auto;
}

#cutout_img {
     width:50%;
     display:block;
     margin-top: 5vh;
     margin-left: auto;
     margin-right: auto;
}

.img1 {
     display:block;
     margin-top:5vh;
     margin-left: auto;
     margin-right: auto;
}
.img2 {
     display:block;
     margin-left: auto;
     margin-right: auto;
}

.small_img {
    display:flex;
    justify-content:center;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.small_img2 {
    display:flex;
    justify-content:center;
}

